@page
@model aesob.org.tr.Pages.Shared.NotFoundModel
@{
    <div class="d-flex flex-row justify-content-center align-items-start w-100" style="min-height:100vh">
        <div class="slick-container">
            Üzgünüz, aradığınız sayfayı bulamadık...
        </div>
    </div>
}
